@import "./sass/variables.scss";
@import "./sass/mixins.scss";
@import "./sass/elements.scss";
@import "./sass/classes-primitive.scss";

.app {
  // background: linear-gradient(180deg, var(--bg1) 10%, var(--bg3));
  $color: var(--bg1trans);
  background: linear-gradient(0deg, $color, $color), url(https://d2cqospqxtt8fw.cloudfront.net/personal-website/background-pattern.svg);
  background-size: 70vh;
  height: 100vh;
  overflow: auto;
  .footer {
    @include v-mar($gap-lg);
    text-align: center;
  }
}
