@import "./sass/variables.scss";
@import "./sass/mixins.scss";
@import "./sass/elements.scss";
@import "./sass/classes-primitive.scss";

.app {
  // background: linear-gradient(180deg, var(--bg1) 10%, var(--bg3));
  $color: var(--bg1trans);
  background: linear-gradient(0deg, $color, $color), url(https://as1.ftcdn.net/v2/jpg/01/25/83/12/1000_F_125831282_aJIAvrzGLGjQ436kjbj9Uodory1FBqBb.jpg);
  background-size: 70vh;
  height: 100vh;
  overflow: auto;
  .footer {
    @include v-mar($gap-lg);
    text-align: center;
  }
}
