@import "./sass/variables.scss";
@import "./sass/mixins.scss";
@import "./sass/elements.scss";
@import "./sass/classes-primitive.scss";

.app {
  z-index: 2;
  .app-bg {
    background-color: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    transform: scaleY(-1);
    background: linear-gradient(180deg, var(--bg4), var(--bg1));
  }
  height: 100vh;
  overflow: auto;
  .footer {
    @include v-mar($gap-lg);
    text-align: center;
  }
}
